body {
    background-color: black;
    padding-top: 20px;
}

small {
    font-style: italic;
    letter-spacing: 1px;
}

.mainContainer {
    color: white;
}

.purple {
    color:rgb(144, 125, 252);    
}

.ta-c {
    text-align: -webkit-center;
}

.svg {
    width: 1em;
    min-width: 1em;
}

.btnPurple {
    width: 100%;
    max-width: 250px;
    margin: auto;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 5px black;
    letter-spacing: 1px;
    font-weight: 500;
    background-color: rgb(144, 125, 252);
    border-radius: 50px;
    border: 1px solid rgb(144, 125, 252);
}

.btnDiv {
    max-width: 200px;
}

.darkInput {
    width: 100%;
    max-width: 250px;
    background-color: transparent;
    color: white;
    font-weight: 500;
    border: 1px solid rgb(144, 125, 252);
}

.btnPurple:hover {
    background-color: transparent;
    border: 1px solid rgb(144, 125, 252);

}