.Grid {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.Grid-row {
    display: flex;
}

.Grid-cell {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}

.Grid-cell:hover {
    border: solid 1px grey;    
}

.Grid-cell--active {
    background-color: red;
}

.Grid-cell--selected {
    background-color: rgba(248, 141, 141, 0.5);
}
